/* 定义变量 */
$greenColor: #08BAC6;
$lightTextColor: #7c7c7c;
$depthTextColor: #3F3F3F;
$backColor: #ffffff;
$lineColor: #d9d9d9;

/* 继承公共类 */
%displayFlex {
  display: flex;
}

//垂直居中
%flexV {
  @extend %displayFlex;
  align-items: center;
}

//垂直水平居中
%flexVC {
  @extend %displayFlex;
  justify-content: center;
  align-items: center;
}


/* 混合宏 */
@mixin psFixed($fixSear, $fixHeigjt:88px) {
  position: fixed;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: $fixHeigjt;
  @if $fixSear == top {
    top: 0px;
  } @else {
    bottom: 0px;
  }
}

