/* 定义变量 */
$greenColor: #08BAC6;
$lightTextColor: #7c7c7c;
$depthTextColor: #3F3F3F;
$backColor: #ffffff;
$lineColor: #d9d9d9;

/* 继承公共类 */
%displayFlex {
  display: flex;
}

//垂直居中
%flexV {
  @extend %displayFlex;
  align-items: center;
}

//垂直水平居中
%flexVC {
  @extend %displayFlex;
  justify-content: center;
  align-items: center;
}

%fontBlod {
  font-weight: bold;
}


/* 混合宏 */
@mixin psFixed($fixSear, $fixHeigjt:88px) {
  position: fixed;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: $fixHeigjt;
  @if $fixSear == top {
    top: 0px;
  } @else {
    bottom: 0px;
  }
}
//浅颜色的button 默认24px
@mixin simpleButton($height, $width, $font-size:24px) {
  width: $width;
  height: $height;
  background: rgba(235, 248, 249, 1);
  border-radius: 8px;
  border: 1px solid rgba(8, 186, 198, 1);
  font-size: $font-size;
  line-height: $height;
  text-align: center;
}

//深色的按钮
@mixin deepButton($height, $width, $font-size:28px) {
  width: $width;
  height: $height;
  line-height: $height;
  background: rgba(8, 186, 198, 1);
  border: 1px solid rgba(8, 186, 198, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: $font-size;
}

//第三种按钮 消息的按钮
@mixin newsButton($height, $width, $font-size:28px) {
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  font-size: $font-size;
  color: rgba(8, 186, 198, 1);
  border-radius: 8px;
  border: 2px solid #08BAC6;
  background: transparent;
}
