/*重置*/

body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ol,
ul,
th,
td,
form,
fieldset,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "microsoft yahei";
}

body {
  background: #F5F5F5;
}

html {
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  width: 100%;
}

ol,
ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit
}

fieldset,
img {
  border: 0
}

html,
body,
.content {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "microsoft yahei";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  border: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="number "],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  color: #7c7c7c;
}

input:-moz-placeholder {
  font-size: 16px;
  color: #7c7c7c;
}

input:-ms-input-placeholder {
  font-size: 16px;
  color: #7c7c7c;
}

input {
  font-size: 16px;
  color: #3F3F3F;
}

[v-cloak] {
  display: none;
}

.full-screen-hr {
  width: 100%;
  margin: 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  border-top: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.flex {
  display: flex;
}

.flexOne {
  flex: 1;
}

.color-red {
  color: red;
}

.ml-16px {
  margin-left: 16px;
}

.ml-20px {
  margin-left: 20px;
}

.ml-24px {
  margin-left: 24px;
}

.mr-30px {
  margin-right: 22px;
}

.mr-32px {
  margin-right: 32px;
}

.mr-96px {
  margin-right: 96px;
}

.mr-6px {
  margin-right: 6px;
}

.mb-6px {
  margin-bottom: 6px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-14px {
  margin-bottom: 14px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-131px {
  margin-bottom: 131px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-88px {
  margin-top: 88px;
}

.mt-96px {
  margin-top: 96px;
}

.pl-24px {
  padding-left: 24px;
}

.pl-30px {
  padding-left: 30px;
}

.pr-30px {
  padding-right: 30px;
}

.pb-128px {
  padding-bottom: 128px;
}

.mr-10px {
  margin-right: 10px;
}

.mr64 {
  margin-right: 64px;
}

.ml24 {
  margin-left: 24px
}

.pr16 {
  padding-right: 16px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml16 {
  margin-left: 16px;
}

.ml20 {
  margin-left: 20px;
}


/* d-table */

.d-table {
  border-collapse: separate;
  border: 2px solid #08bac6;
  border-radius: 8px;
  width: 100%;
  table-layout: fixed;
}

.d-table td,
.d-table th {
  line-height: 44px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #08bac6;
  border-right: 2px solid #08bac6;
}

.d-table[data-type='1'] th,
.d-table[data-type='1'] td {
  height: 88px;
  font-size: 28px;
  color: #3f3f3f;
}

.d-table[data-type='1'] th,
.d-table .bg-medium {
  background: #ebf8f9;
  color: #3f3f3f;
}

.d-table[data-type='2'] th {
  height: 80px;
  font-size: 28px;
  color: #3f3f3f;
}

.d-table[data-type='2'] td {
  height: 104px;
  font-size: 28px;
  color: #3f3f3f;
}

.d-table[data-type='2'] th,
.d-table .bg-deep {
  margin: 16px 0;
  background: #08bac6;
  color: #ffffff;
  border-right: none;
}

.d-table .bg-light {
  background: #fff;
  color: #3f3f3f;
}

.d-table[data-type='2'] th > div,
.d-table .bg-08bac6 > div {
  line-height: 32px;
  width: 100%;
  border-right: 2px solid #fff;
}

.d-table tr:nth-last-child(1) td,
.d-table tr:nth-last-child(1) th {
  border-bottom: none;
}

.d-table tr td:nth-last-child(1),
.d-table tr th:nth-last-child(1),
.d-table tr th:nth-last-child(1) > * {
  border-right: none;
}

.d-table tr:nth-child(1) th:nth-child(1) {
  border-top-left-radius: 8px;
}

.d-table tr:nth-child(1) th:nth-last-child(1) {
  border-top-right-radius: 8px;
}

.d-table tr:nth-last-child(1) td:nth-child(1) {
  border-bottom-left-radius: 8px;
}

.d-table tr:nth-last-child(1) td:nth-last-child(1) {
  border-bottom-right-radius: 8px;
}

.d-table.h44 th,
.d-table.h44 td {
  height: 88px;
}

.d-table.h36 th,
.d-table.h36 td {
  height: 72px;
}
